{% extends 'baseFo.html.twig' %}

{% block body %}
 <!--INTRODUCTION-->
 <div class="content-intro-sweet">
     <div class="paragraphe-sweet">
         <p>Les recettes sucrées</p>
     </div>
 </div>

{% endblock %}
