{% extends 'baseFo.html.twig' %}

{% block body %}
 <!--INTRODUCTION-->
 <div class="content-intro-specific">
     <div class="paragraphe-specific">
         <p>Les régimes spécifiques</p>
     </div>
 </div>

{% endblock %}
