{% extends '/bases/baseFo.html.twig' %}

{% block title %}Evlow Foodies | Réinitialisation mot de passe{% endblock %}

{% block body %}
<article class="article-registration">
    <section class="section-registration">
        <p class="p-registration">Mot de passe oublié?</p>
        <p class="p-registration">Pas de panique !</p>
        <h3 class="home-h3 ">
            <span>Entrez votre nouveau mot de passe !</span>
        </h3>
    </section>

    <section class="content-contact">
    <div class="bloc-registration">
        {{ form_start(resetForm) }}
        {{ form_label(resetForm.plainPassword) }}
        {{ form_widget(resetForm.plainPassword) }}
    </div>
    <div class="bloc-input">
        <button class="button-reinitialization">Réinitialiser mon mot de passe</button>
    {{ form_end(resetForm) }}
</div>
</section>
    </article>

{% endblock %}
