{% extends 'baseFo.html.twig' %}

{% block title %}Inscription | Evlow Foodies {% endblock %}

{% block body %}
<main>
    <article>
        <section class="intro-connect">
            <div class="p-intro">
            <p>Partager tes recettes ?
            </p>
             <p>Retrouver tes recettes favories ?</p>
            </div>
            <h3><span>Inscrits-toi !</span></h3>
        </section>
    </article>

    <form method="POST" class="form-connect">
        <div class="content-connect">
        <div class="connect-column">
            <label for="Identifiant">Nom:</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div class="connect-column">
            <label for="firstname">Prénom:</label>
            <input type="text" id="firstname" name="firstname" required />       
        </div>
        <div class="connect-column">
            <label for="email">Email:</label>
            <input type="mail" id="email" name="email" required />       
        </div>
        <div class="connect-column">
            <label for="pseudo">Pseudo:</label>
            <input type="text" id="pseudo" name="pseudo" required />
        </div>
        <div class="connect-column">
            <label for="password">Mot de passe:</label>
            <input type="text" id="password" name="paswword" required />       
        </div>
        <div class="connect-column">
            <label for="password">Confirmation mot de passe:</label>
            <input type="text" id="password" name="paswword" required />       
        </div>
        <div class="btn-connexion">
            <button class="btn-connect" type="submit">S'inscrire </button>
        </div>
        </div>
    </form>
</main>
{% endblock %}
