{% extends '/bases/baseFo.html.twig' %}

{% block title %} Contactez-moi | Evlow Foodies{% endblock %} 
{% block body %}
<main>
    <article class="article-contact">
        <section class="section-contact">
            <p class="p-contact">Une question ?</p>
            <p class="p-contact">Un problème ?</p>
            <p class="p-contact">Autre ?</p>
            <h3 class="home-h3 "><span>Contactez-moi !</span></h3>
        </section>
    </article>
        <div class="form-contact">
            <div class="content-contact">
                <div class="contact">
            {{ form(formContact) }}
                </div>
            </div>
        </div>
</main>
{% endblock %}
