<aside>
    <nav class="nav-aside">
        <ul>
            <li><a href="{{path('app_bo_dashboard')}}">Dashboard</a></li>
            <li><a href="{{path('app_bo_recipes')}}">Recettes</a></li>
            <li><a href="{{path('app_bo_favorites')}}">Favoris</a></li>
            <li><a href="{{path('app_bo_basket')}}">Corbeille</a></li>
        </ul>
    </nav>
</aside>