<aside>
    <nav class="nav-aside">
        <ul>
            <li><a href="#">Accueil<img class="img-aside" src="./assets/dashboard.svg" alt=""></a></li>
            <li><a href="#">Recettes<img class="img-aside" src="./assets/recettes.svg" alt=""></a></li>
            <li><a href="#">Favoris<img class="img-aside" src="./assets/favoris.svg" alt=""></a></li>
            <li><a href="#">Corbeille<img class="img-aside" src="./assets/corbeille.svg" alt=""></a></li>
        </ul>
    </nav>
</aside>