<body>
    <div id="page">
        <header>
            <h1>EVLOW FOODIES</h1>
            <h2>| Des recettes pour tous les goûts |</h2>
            <!--NAV-->
            <nav>
                <ul id="unrolling">
                    <li><a href="#">Recettes salées</a>
                        <ul>
                            <li><a href="#" target="_blank">Burgers</a></li>
                            <li><a href="#" target="_blank">Pizzas</a></li>
                            <li><a href="#" target="_blank">Quiches/Tartes</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Recettes sucrées</a>
                        <ul>
                            <li><a href="#" target="_blank">Cookies</a></li>
                            <li><a href="#" target="_blank">Gâteaux</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Recettes p'tits gônes</a>
                        <ul>
                            <li><a href="#" target="_blank">Cookies</a></li>
                            <li><a href="#" target="_blank">Gâteaux</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Régimes spécifiques</a>
                        <ul>
                            <li><a href="#" target="_blank">Végétariens</a></li>
                            <li><a href="#" target="_blank">Low carbs</a></li>
                            <li><a href="#" target="_blank">Hyperprotéinéss</a></li>
                        </ul>
                    </li>
                    <li><a href="Contact" target="_blank">Contact</a></li>
                    <form>
                        <button class="connect" type="submit" formaction="#">Se connecter</button>
                    </form>
                </ul>
            </nav>
        </header>