<header>
    <div class="title">
        <a href="{{path('app_fo_home')}}"><h1>EVLOW FOODIES</h1></a>
    </div>
    <nav class="nav-back">
        <ul>
            <li><a href="{{path('app_fo_home')}}">Voir le site</a></li>
            <li><a href="{{path('app_fo_logout')}}">Me deconnecter</a></li>

            <li><a href="#">Mon compte</a></li>
        </ul>
    </nav>
</header>