<header>
    <nav class="nav-back">
        <h1>Evlow Foodies</h1>
        <ul>
            <li><a href="#">Voir le site</a></li>
            <li><a href="#">Mon compte</a></li>
        </ul>
    </nav>
</header>