@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Beau+Rivage&family=David+Libre:wght@400;500&family=Palanquin:wght@100&family=Thasadith&display=swap");

// FONTS
$font: "Advent Pro", sans-serif;
$title-h1: 6em;
$title-h2: 1.1em;
$title-h3: 1.8em;
$title-h3-recipe: 3em;
$title-h4: 1em;
$title-h4-recipe:2em;
$intro: 1.5em;
$size-link:1em;
$p-size:1.2em;
$weight: 600;
$label:1.2em;

// COLORS
$primary-color: white;
$secondary-color: #9ce7a9;
$third-color: #ffa05c;
$link-color:black;

//SIZE
$network: 30px;

// PADDING
$padding-top-bottom-10: 10px 0 10px 0;
$padding-top-bottom-30: 30px 0 30px 0;
$padding-top-bottom-50: 50px 0 50px 0;
$padding-top-bottom-80: 80px 0 80px 0;
$padding-5:5px;
$padding-10:10px;
$padding-20:20px;

$padding-40:40px;
$padding-right-10:10px;
$padding-left:10px;
$padding-bottom-5:5px;
$padding-top-10:10px;
// MARGIN
$margin-10:10px;
$margin-top-30: 30px;
$margin-bottom-15:15px;
$margin-bottom-30:30px;
$margin-top-bottom-5: 5px 0 5px 0;
$margin-top-bottom-10: 10px 0 10px 0;