@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Beau+Rivage&family=David+Libre:wght@400;500&family=Palanquin:wght@100&family=Thasadith&display=swap");
* {
  font-family: "Advent Pro", sans-serif;
}

main {
  background-color: white;
}

header {
  background-color: rgba(152, 228, 129, 0.0784313725);
  padding: 30px;
}

h1 {
  font-size: 6em;
  text-align: center;
  color: #000;
}

h2 {
  padding: 30px 0 30px 0;
  font-size: 1.1em;
  text-align: center;
  color: #ffa05c;
}

.title-recipe {
  color: black;
  padding: 40px;
  font-size: 1.3em;
}

.h3-comment {
  padding-left: 50px;
}

h4 {
  padding-bottom: 10px;
  font-size: 1.1em;
}

p {
  font-size: 1.2em;
}

.p-intro {
  padding: 30px 0 30px 0;
}

.separation {
  border-top: solid 2px #9ce7a9;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav ul {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  border-top: solid 2px #9ce7a9;
  border-bottom: solid 2px #9ce7a9;
  justify-content: space-around;
  height: 80px;
  list-style-type: none;
}

nav a {
  color: black;
  font-size: 1em;
  font-weight: 600;
}

.btn-registration {
  background-color: #ffa05c;
  width: 120px;
  height: 30px;
  font-size: 1em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.btn-login {
  background-color: #ffa05c;
  width: 130px;
  height: 30px;
  font-size: 1em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.btn-login-home {
  background-color: #ffa05c;
  width: 170px;
  height: 35px;
  font-size: 1em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #000;
}

.btn-article {
  background-color: #9ce7a9;
  width: 100px;
  height: 30px;
  font-size: 1.2em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  margin: 30px 0 30px 0;
}

/* MENU DEROULANT */
.logo-social img {
  width: 30px;
}

.img-recipe {
  width: 600px;
  border-radius: 50px;
  margin-left: 100px;
}

.content-recipe {
  width: 60%;
  margin: auto;
}

.section-ingredients li::before, .section-preparations li::before {
  content: "♦";
  font-size: 1.2em;
  padding-right: 10px;
}

.section-preparations li::before {
  content: "♦";
}

.section-ingredients li, .section-preparations li {
  padding-left: 40px;
  margin-bottom: 10px;
}

.ovale {
  width: 100px;
  height: 60px;
  border-radius: 100px/60px;
  background: #ffa05c;
  position: relative;
  display: flex;
  align-items: center;
}

.bloc-title {
  padding: 30px 0 30px 0;
}

footer {
  background-color: rgba(152, 228, 129, 0.0784313725);
  padding-top: 20px;
}

.logo-social img {
  width: 30px;
}

.logo-social {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  gap: 5px;
}

.content-footer {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.bloc-footer {
  width: 90%;
  margin: 0 auto;
}

.input-newsletter {
  border-color: #ffa05c;
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
}

::-moz-placeholder {
  text-align: center;
  font-style: italic;
  color: rgb(18, 18, 18);
  font-size: 1.2em;
  font-weight: 600;
}

:-ms-input-placeholder {
  text-align: center;
  font-style: italic;
  color: rgb(18, 18, 18);
  font-size: 1.2em;
  font-weight: 600;
}

::placeholder {
  text-align: center;
  font-style: italic;
  color: rgb(18, 18, 18);
  font-size: 1.2em;
  font-weight: 600;
}

.other a {
  padding: 10px;
  color: black;
  font-size: 1em;
  font-weight: 600;
}

.footer-contact a {
  color: black;
}

.other {
  padding: 30px 0 30px 0;
}

.other li {
  font-weight: 600;
}

.other ul {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.other a {
  color: black;
  font-size: 1em;
}

.content-copyright {
  text-align: center;
  margin: 15px;
}

.ingredients, .preparations {
  width: 70px;
  padding-right: 10px;
}

.section-ingredients, .section-preparations {
  font-size: 1.2em;
}

.section-preparations {
  padding-bottom: 20px;
}

.intro-recipes {
  padding: 80px 0 80px 0;
  text-align: center;
}

.content-article {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-top: solid 2px #9ce7a9;
  padding: 50px 0 50px 0;
}

.comment {
  width: 90%;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #9ce7a9;
  background: transparent;
  width: 200px;
  margin: 5px 80px 5px 0;
}

.label-comment {
  padding-right: 200px;
}

#comment {
  margin: 20px 0 20px 0;
  width: 1000px;
  height: 100px;
  border: solid 2px #9ce7a9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.comment-row {
  display: flex;
  padding-bottom: 80px;
}

.content-comment {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 50px 0 20px 50px;
  box-shadow: 0 1.25rem 5rem 0 rgba(0, 0, 0, 0.15);
}

label {
  font-weight: 600;
  font-size: 1em;
  display: flex;
  width: 100%;
  text-align: justify;
}

/* BUTTON */
.home-article {
  background-color: white;
}

.logo-social img {
  width: 30px;
}

.connect {
  background-color: #ffa05c;
  width: 110px;
  height: 25px;
  font-size: 1em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-intro {
  background-color: #ffa05c;
  width: 140px;
  height: 32px;
  font-size: 0.9em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-intro {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.paragraphe {
  line-height: 80px;
}

.content-intro::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(../picture/fond.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  opacity: 0.5;
  z-index: -1;
}

section {
  width: 90%;
  margin: 0 auto;
}

section {
  width: 90%;
  margin: 0 auto;
}

h3 {
  font-size: 1.8em;
  width: 60%;
  padding: 40px 0 40px 0;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.home-h3:before {
  content: "";
  left: 0;
  right: 0;
  height: 2px;
  background: #9ce7a9;
  position: absolute;
  top: calc(50% - 1px);
}

.home-h3 span {
  display: inline-block;
  padding: 0 10px;
  background: white;
  position: relative;
  z-index: 1;
}

.article-home .section-home {
  padding: 30px 0 30px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.p-home {
  text-align: center;
}

.logo-social img {
  width: 30px;
}

.img-recipe {
  width: 600px;
  border-radius: 50px;
  margin-left: 100px;
}

.content-recipe {
  width: 60%;
  margin: auto;
}

.section-ingredients li::before, .section-preparations li::before {
  content: "♦";
  font-size: 1.2em;
  padding-right: 10px;
}

.section-preparations li::before {
  content: "♦";
}

.section-ingredients li, .section-preparations li {
  padding-left: 40px;
  margin-bottom: 10px;
}

.ovale {
  width: 100px;
  height: 60px;
  border-radius: 100px/60px;
  background: #ffa05c;
  position: relative;
  display: flex;
  align-items: center;
}

.bloc-title {
  padding: 30px 0 30px 0;
}

.title-flex {
  display: flex;
  align-items: center;
}

.recipe-img-home {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.content-recipe-img {
  width: 100%;
  height: auto;
}

.carts {
  width: 90%;
  margin: 0 auto;
}

.recipes-h3 {
  padding: 20px;
  font-size: 1.3em;
  width: 100%;
}

.content-card {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0 50px 0;
}

.card {
  width: 20%;
  border: rgb(105, 9, 9) solid 3px;
  text-align: center;
}

.p-recipe {
  text-align: center;
}

.btn-recipe {
  background-color: #9ce7a9;
  width: 130px;
  height: 30px;
  font-size: 1.1em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  color: #000;
}

.content-registration, .content-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
}

#registration_form_plainPassword_first,
#registration_form_email {
  text-align: center;
}

#registration_form_plainPassword {
  display: flex;
}

#registration_form_agreeTerms {
  margin-right: 10px;
  flex-basis: content;
}

.p-registration, .p-contact {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 10px;
}

.bloc-agree {
  margin-top: 30px;
  padding-left: 50px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.span-registration {
  padding-top: 10px;
  align-self: baseline;
  padding-left: 50px;
  font-size: 0.8em;
}

.alert-edit {
  background-color: #9ce7a9;
  width: 300px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px;
  font-weight: 600;
}

.form-error {
  color: red;
  width: 450px;
  font-weight: 600;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  text-align: center;
}

.article-contact, .article-registration {
  margin: 50px 0 50px 0;
}

.button-connect {
  background-color: #9ce7a9;
  width: 180px;
  height: 32px;
  font-size: 1.1em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.form-contact {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bloc-name-contact {
  display: flex;
  justify-content: space-between;
}

.bloc-name-contact {
  width: 100%;
}

.bloc-email {
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}

#contact_email {
  width: 99%;
}

#contact_firstName::-moz-placeholder {
  text-align: left;
}

#contact_firstName:-ms-input-placeholder {
  text-align: left;
}

#contact_firstName::placeholder {
  text-align: left;
}

#contact_lastName::-moz-placeholder {
  text-align: left;
}

#contact_lastName:-ms-input-placeholder {
  text-align: left;
}

#contact_lastName::placeholder {
  text-align: left;
}

#contact_email::-moz-placeholder {
  text-align: left;
}

#contact_email:-ms-input-placeholder {
  text-align: left;
}

#contact_email::placeholder {
  text-align: left;
}

#contact_message::-moz-placeholder {
  text-align: left;
  font-size: 1em;
}

#contact_message:-ms-input-placeholder {
  text-align: left;
  font-size: 1em;
}

#contact_message::placeholder {
  text-align: left;
  font-size: 1em;
}

.bloc-message {
  justify-content: center;
  display: flex;
}

#contact_message {
  margin-top: 10px;
  width: 485px;
  height: 150px;
  border-color: #9ce7a9;
  border-radius: 5px;
}

.bloc-input {
  display: flex;
  justify-content: center;
}

#contact_firstName,
#contact_lastName,
#contact_email {
  margin: 0;
}

.span-contact {
  font-size: 0.8em;
  margin-top: 10px;
}

.alert-contact, .alert-inscription {
  background-color: #9ce7a9;
  width: 550px;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px;
  font-weight: 600;
}

.error {
  background-color: red;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px;
  font-weight: 600;
}

.form-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: right;
  width: 20%;
}

#inputEmail,
#inputPassword {
  margin: 0;
  width: 100%;
}

.bloc-email-connect, .bloc-password-connect {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#inputEmail::-moz-placeholder {
  text-align: left;
}

#inputEmail:-ms-input-placeholder {
  text-align: left;
}

#inputEmail::placeholder {
  text-align: left;
}

#inputPassword::-moz-placeholder {
  text-align: left;
}

#inputPassword:-ms-input-placeholder {
  text-align: left;
}

#inputPassword::placeholder {
  text-align: left;
}

.section-bloc-email {
  text-align: center;
  margin: 10px auto 10px;
}

#change_password_form_plainPassword_first, #change_password_form_plainPassword_second {
  width: 300px !important;
  margin: 10px auto 10px;
}

.button-reinitialization {
  background-color: #9ce7a9;
  width: 250px;
  height: 30px;
  font-size: 1.1em;
  border: none;
  font-weight: 600;
  border-radius: 15px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
}

.error-password {
  color: red;
  text-align: center;
}

.p-reinitialization {
  font-style: italic;
  padding-top: 10px;
  font-size: 0.7em;
}

.content-reinitialization, .content-edit-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

#reset_password_request_form_email {
  margin: auto !important;
}

.content-intro-savory {
  align-items: center;
  justify-content: right;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-savory::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(../picture/savory.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.paragraphe-savory, .paragraphe-specific, .paragraphe-gones, .paragraphe-sweet {
  padding: 80px;
  font-size: 2em;
}

.content-intro-sweet {
  align-items: center;
  justify-content: left;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-sweet::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(../picture/sweet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.content-intro-gones {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-gones::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(../picture/gones.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.content-intro-specific {
  align-items: center;
  justify-content: left;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-specific::after {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: url(../picture/sweet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.content-img-sheet {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.recipe-sheet-img {
  width: 500px;
  height: 450px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.paragraphe-recipe-sheet {
  font-size: 2em;
}

.h3-recipe-sheet {
  text-align: left;
  margin-left: 50px;
  font-size: 1.3em;
  font-weight: 100;
}

.img-favoris {
  width: 40px;
}

#user_password_plainPassword_first, #user_password_plainPassword_second, #user_password_newPassword {
  margin: 10px 0 10px;
}/*# sourceMappingURL=styles.css.map */