@use "variables" as *;
@use "mixins" as *;

* {
  font-family: $font;
}
main {
  background-color: $primary-color;
}
header {
  background-color: rgba(152, 228, 129, 0.0784313725);
  padding: 30px;
}

h1 {
  font-size: $title-h1;
  text-align: center;
  color: #000;
}
h2 {
  padding: $padding-top-bottom-30;
  font-size: $title-h2;
  text-align: center;
  color: $third-color;
}

.title-recipe {
  color: black;
  padding: $padding-40;
  font-size: $title-h3-recipe;
}

.h3-comment {
  padding-left: 50px;
}
h4 {
  padding-bottom: 10px;
  font-size: $title-h4;
}

p {
  font-size: $p-size;
}
.p-intro {
  padding: 30px 0 30px 0;
}
.separation {
  @include separation-top;
}
//NAV

nav {
  position: sticky;
  top: 0px;
}

nav ul {
  @include flex-center;
  @include separation-header;
  justify-content: space-around;
  height: 80px;
  list-style-type: none;
}

nav a {
  color: $link-color;
  font-size: $size-link;
  font-weight: $weight;
}
.btn-nav {
  @include button($third-color, 120px, 30px, 1em);
  color: #000;
}


.btn-login-home {
  @include button($third-color, 170px, 35px, 1em);
  margin: 0 auto;
  color: #000;
}

.btn-article {
  background-color: $secondary-color;
  width: 100px;
  height: 30px;
  font-size: 1.2em;
  border: none;
  font-weight: $weight;
  border-radius: 15px 0 15px;
  margin: $padding-top-bottom-30;
}
/* MENU DEROULANT */

// #unrolling {
//   text-align: center;
// }

// #unrolling ul {
//   position: absolute;
//   /* on cache les sous menus complètement sur la gauche */
//   left: -999em;
// }
// #unrolling li:hover ul {
//   /* Au survol des li du menu on replace les sous menus */
//   left: auto;
//   border: none;
// }
// #unrolling a {
//   text-decoration: none;
//   display: block;
//   color: #000;
// }
//article

.logo-social img {
  width: $network;
}

.img-recipe {
  width: 600px;
  border-radius: 50px;
  margin-left: 100px;
}
.content-recipe {
  width: 60%;
  margin: auto;
}

.section-ingredients li::before {
  content: "♦";
  font-size: $p-size;

  padding-right: $padding-right-10;
}
.section-preparations li::before {
  content: "♦";
}
.section-ingredients li {
  padding-left: 40px;
  margin-bottom: 10px;
}

.ovale {
  width: 100px;
  height: 60px;
  border-radius: 100px / 60px;
  background: #ffa05c;
  position: relative;
  display: flex;
  align-items: center;
}
.bloc-title {
  padding: 30px 0 30px 0;
}

//FOOTER
footer {
  background-color:#F7FDF5;

  padding-top: 20px;
}
.logo-social img {
  width: 30px;
}
.logo-social {
  @include flex-center;
  gap: 5px;
}

.content-footer {
  @include flex;
  justify-content: space-around;
}
.bloc-footer {
  @include width90-auto;
}
.input-newsletter {
  border-color: $third-color;
  width: 220px;
  @include border-none;
}

::placeholder {
  text-align: center;
  font-style: italic;
  color: rgb(18, 18, 18);
  font-size: 1.2em;
  font-weight: 600;
}

.other a {
  padding: $padding-right-10;
  color: $link-color;
  font-size: $size-link;
  font-weight: $weight;
}

.footer-contact a {
  color: $link-color;
}

.other {
  padding: $padding-top-bottom-30;
}
.other li {
  font-weight: $weight;
}
.other ul {
  margin-top: 30px;
  @include flex-center;
}

.other a {
  color: black;
  font-size: 1em;
}

.content-copyright {
  text-align: center;
  margin: $margin-bottom-15;
}

.ingredients {
  width: 70px;
  padding-right: 10px;
}
.preparations {
  @extend .ingredients;
}
.section-ingredients {
  font-size: $p-size;
}
.section-preparations {
  @extend .section-ingredients;
  padding-bottom: 20px;
}
.intro-recipes {
  padding: $padding-top-bottom-80;
  text-align: center;
}

.content-article {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include separation-top;
  padding: 50px 0 50px 0;
}

.comment {
  width: 90%;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px $secondary-color;
  background: transparent;
  width: 250px;
  margin: 5px 80px 5px 0;
}

.label-comment {
  padding-right: 200px;
}
#comment {
  margin: 20px 0 20px 0;
  width: 1000px;
  height: 100px;
  border: solid 2px $secondary-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.comment-row {
  display: flex;
  padding-bottom: 80px;
}
.content-comment {
  width: 80%;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 50px 0 20px 50px;
  box-shadow: 0 1.25rem 5rem 0 rgba(0, 0, 0, 0.15);
}
label {
  font-weight: 600;
  font-size: 1em;
  display: flex;
  width: 100%;
  text-align: justify;
}

/* BUTTON */

// ACCUEIL
.home-article {
  background-color: $primary-color;
}
.logo-social img {
  width: $network;
}

.connect {
  @include button($third-color, 110px, 25px, 1em);
}
.connect-intro {
  @include button($third-color, 140px, 32px, 0.9em);
}

.content-intro {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.paragraphe {
  line-height: 80px;
}

.content-intro::after {
  @include positon-absolute;
  background: url(../picture/fond.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  opacity: 0.5;
  z-index: -1;
}

section {
  width: 90%;
  margin: 0 auto;
}

//ARTICLE

section {
  width: 90%;
  margin: 0 auto;
}

h3 {
  font-size: $title-h3;
  width: 60%;
  padding: 40px 0 40px 0;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.home-h3:before {
  content: "";
  left: 0;
  right: 0;
  height: 2px;
  background: #9ce7a9;
  position: absolute;
  top: calc(50% - 1px);
}

.home-h3 span {
  display: inline-block;
  padding: 0 10px;
  background: $primary-color;
  position: relative;
  z-index: 1;
}

.article-home .section-home {
  padding: $padding-top-bottom-30;
  @include flex-center;
}
.p-home {
  text-align: center;
}

//recettes//
.logo-social img {
  width: $network;
}

.img-recipe {
  width: 600px;
  border-radius: 50px;
  margin-left: 100px;
}
.content-recipe {
  width: 60%;
  margin: auto;
}

.section-ingredients li::before {
  content: "♦";
  font-size: $p-size;

  padding-right: $padding-right-10;
}
.section-preparations li::before {
  content: "♦";
}
.section-ingredients li {
  padding-left: 40px;
  margin-bottom: 10px;
}

.ovale {
  width: 100px;
  height: 60px;
  border-radius: 100px / 60px;
  background: #ffa05c;
  position: relative;
  display: flex;
  align-items: center;
}
.bloc-title {
  padding: 30px 0 30px 0;
  justify-content: center;
}
.title-flex {
  display: flex;
margin: 0 auto;
}

//recipes//

.recipe-img-home {
  width: 250px;
  overflow: hidden;
  object-fit: cover;
  height: 220px;
}

.content-recipe-img {
  width: 100%;
  height: auto;
}

.card{
background-color:#F7FDF5;
border-radius: 10px;
}
.carts {
  width: 90%;
  margin: 0 auto;
}
.recipes-h3 {
  padding: $padding-20;
  font-size: 1.3em;
  width: 100%;
}
.content-card {
  display: flex;
  justify-content: space-evenly;
  padding: $padding-top-bottom-50;
}

.p-recipe {
  text-align: center;
}

.btn-recipe {
  @include button($secondary-color, 130px, 30px, 1.1em);
  margin: 20px auto;
  color: #000;
}

//PAGE INSCRIPTION

.article-registration{
  @extend .article-contact;
}
.content-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.form-registration {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
}
#registration_form_plainPassword_first,
#registration_form_email {
  text-align: center;
}

#registration_form_plainPassword {
  display: flex;
}
#registration_form_agreeTerms {
  margin-right: 10px;
  flex-basis: content;
}
.p-registration {
  @include flex-center;
  padding: $padding-10;
}

.bloc-agree {
  margin-top: $margin-top-30;
  padding-left: 50px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.span-registration {
  padding-top: $padding-top-10;
  align-self: baseline;
  padding-left: 50px;
  font-size: 0.8em;
}


.alert-inscription{ 
  @extend .alert-contact;
}

.alert-edit{
  background-color: $secondary-color;
  width: 300px;
  padding:$padding-top-bottom-10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px;
  font-weight: $weight;
}

.form-error{
color:red;
  width: 450px;
  font-weight: $weight;
  margin: 0 auto;
 align-items: center;
 display:flex;
 justify-content: center;
 padding-bottom: $padding-bottom-10;
 text-align: center;
}


//PAGE CONTACT//

.article-contact {
  margin: $padding-top-bottom-50;
}
.button-connect {
  @include button($secondary-color, 130px, 32px, 1.1em);
  margin-top: $margin-top-30;
}

#contact_envoyer{
  width: 180px;
}
.form-contact {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.p-contact {
  @extend .p-registration;
}
.content-contact {
  @extend .content-registration;
}

.bloc-name-contact {
  display: flex;
  justify-content: space-between;
}
.bloc-name-contact {
  width: 100%;
  margin-right: 10px;
}
.bloc-email {
  margin: $margin-top-bottom-10;
  padding: $padding-top-bottom-10;
}
#contact_email {
  width: 99%;
}
#contact_firstName::placeholder {
  text-align: left;
}

#contact_lastName::placeholder {
  text-align: left;
}

#contact_email::placeholder {
  text-align: left;
}

#contact_message::placeholder {
  text-align: left;
  font-size: 1em;
}
.bloc-message {
  justify-content: center;
  display: flex;
}
#contact_message {
  margin-top: $margin-top-10;
  width: 100%;
  height: 150px;
  border-color: #9ce7a9;
  border-radius: 5px;
}

.bloc-input {
  display: flex;
  justify-content: center;
}

#contact_firstName,
#contact_lastName,
#contact_email {
  margin: 0;
}

.span-contact {
  font-size: 0.8em;
  margin-top: $margin-top-10;
}


.alert-contact{
  background-color: $secondary-color;
  width: 550px;
  padding:$padding-top-bottom-10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px;
  font-weight: $weight;
}
//PAGE LOGIN//


.article-connect{
  @extend .article-contact;
}
.error {
  background-color: red;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px;
  font-weight: $weight;
}

.form-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: right;
  width: 20%;
}

#inputEmail,
#inputPassword {
  margin: 0;
  width: 100%;
}

.bloc-email-connect {
  margin-bottom:$margin-bottom-30;
  display: flex;
  flex-direction: column;
}

.bloc-password-connect {
  @extend .bloc-email-connect;
}

#inputEmail::placeholder {
  text-align: left;
}

#inputPassword::placeholder {
  text-align: left;
}

// password forgot//

.section-bloc-email{
text-align: center;
margin: 10px auto 10px;
}

#change_password_form_plainPassword_first, #change_password_form_plainPassword_second {
  width: 300px !important;
  margin: 10px auto 10px;
 
}

.button-reinitialization{
  @include button($secondary-color, 250px, 30px, 1.1em);
 margin: 30px auto 0;

}
.error-password{
  color:red;
  text-align:center;

}

.p-reinitialization{
font-style: italic;
padding-top: $padding-top-10;
font-size: 0.7em;
}
//email reinitialiazation//

.content-reinitialization{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align:center;
}

#reset_password_request_form_email{
  margin: auto !important;

}


// MODIF PROFIL

.succes-edit {
  @extend .alert-inscription;
  width: 200px;}

 #user_email{ margin: auto !important;
text-align: center;}


 .button-edit-email{

  @include button($secondary-color, 180px, 32px, 1.1em);
  margin: 30px auto 0;
}

.article-edit-email{
  @extend .article-edit
}
//SAVORY//

.content-intro-savory {
  align-items: center;
  justify-content: right;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-savory::after {
  @include positon-absolute;
  background: url(../picture/savory.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.paragraphe-savory {
  padding: 80px;
  font-size: 2em;
}

//SWEET//

.content-intro-sweet {
  align-items: center;
  justify-content: left;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-sweet::after {
  @include positon-absolute;
  background: url(../picture/sweet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.paragraphe-sweet {
  @extend .paragraphe-savory;
}

//GONES//

.content-intro-gones {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-gones::after {
  @include positon-absolute;
  background: url(../picture/gones.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.paragraphe-gones {
  @extend .paragraphe-savory;
}
//SPECIFIC//

.content-intro-specific {
  align-items: center;
  justify-content: left;
  display: flex;
  text-align: center;
  height: 400px;
  position: relative;
  font-size: 1.5em;
  font-weight: 600;
}

.content-intro-specific::after {
  @include positon-absolute;
  background: url(../picture/sweet.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  content: "";
  z-index: -1;
}

.paragraphe-specific {
  @extend .paragraphe-savory;
}

//SHEET RECIPE//
.content-img-sheet {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.recipe-sheet-img {
  width: 500px;
  height: 450px;
  border-radius: 50px;
  object-fit: cover;
  overflow: hidden;
}

.paragraphe-recipe-sheet {
  font-size: 2em;
}

.h3-recipe-sheet {
  text-align: left;
  margin-left: 50px;
  font-size: $title-h3-recipe;
  font-weight: 100;
}

.img-favoris {
  width: 40px;
margin: auto;
display: flex;
padding-bottom: $padding-bottom-10;
}


//EDIT USER & PASSWORD// 

.content-edit-user{
  @extend .content-reinitialization;
}

#user_password_plainPassword_first, #user_password_plainPassword_second, #user_password_newPassword {
margin:15px 0 15px;
width: 250px;

}

.button-edit {
  @include button($secondary-color, 210px, 30px, 1em);
  margin: 30px auto 0;
}

.article-edit{
  @extend .article-registration;
}

//RESPONSIVE

@media (max-width: 768px) {

//HOME

h1{
  font-size: 2.5em;
}
h2{
  font-size: 1em;
  padding: $padding-top-bottom-20;
}

nav ul {
  flex-direction: column;
  display: block;
  height:auto;
}

  .btn-nav{
    margin: auto;

  }

  nav li {
    padding-bottom: $padding-bottom-10;
    margin: $margin-top-bottom-10;
  }


  .paragraphe{
    line-height: 30px;
  }

.paragraphe p {
  font-size: 0.9em;
}

.content-intro{
  height: 200px;
  font-size: 1em;
}

h3{
  font-size: 1.3em;
  width: 100%;
}

.carts{
  width: 100%;
  
}
.content-card{
text-align: center;
  flex-direction: column;
}

.card{
  margin-bottom: $margin-bottom-30;
}

.btn-login-home{
  width: 130px;
}

//INSCRIPTION

.bloc-agree{
  padding-left: 5px;
width:auto;
}

input{
  margin-right: 10px;
  width: 170px;
}

.content-registration{
  width: 100%;
}

.form-registration{
  padding-left:10px;
}

::placeholder{
  font-size: 1em;
}
//CONTACT
 
#contact_message{
  width: 90%;
}
.span-contact{
  text-align: center;
}

//RECIPES

.paragraphe-savory, .paragraphe-specific, .paragraphe-gones, .paragraphe-sweet {
  font-size: 1.2em;
  padding: 20px;

}

.content-intro-savory, .content-intro-specific, .content-intro-gones, .content-intro-sweet{
  height: 200px;
}

//CONNECT

.form-connect {width: 80%;}
  //FOOTER

  .content-footer{
    display: block;
    justify-content: center;
  }

  .input-newsletter{
    margin: 0;
  }

  .footer-column{
    padding-bottom: $padding-bottom-20;
  }

  .footer-newsletter{
   @extend.footer-column;
  }

  .footer-contact{
    @extend .footer-column
  }

  .other ul {
    display: block;
  }

}

  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1250px){
//RECIPES

nav a {
  font-size: 0.9em;
}

.btn-nav {
  font-size: 0.9em;
  width: 90px;
}
.content-card {
  flex-wrap: wrap;
 justify-content: center;
}

.card {
  margin:20px auto;
}
  }