@use "variables" as *;
@use "mixins" as *;

* {
  font-family: $font;
}

main {
  width: 85%;
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
}

h1 {
  font-size: $title-h1;
  text-align: center;
}

h2{

  font-size: $title-h2; 
text-align: center;
padding-bottom: 20px;
}

label{
  font-size: $label;
  font-weight: $weight;
}

.img-aside {
  width: 30px;
  margin: 0 auto;
  padding-top: 10px;
}

.img-import {
  width: 20px;
}

.nav-back ul {
  display: flex;
  justify-content: space-evenly;
}

.nav-back a {
  color: black;
}
header {
  background-color: #ffa05c;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  padding-bottom: 5px;
  font-size: $size-link;
}

aside {
  background-color: #f5b992;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 150px;
}
.nav-aside a {
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-aside li {
  border:#461f03 1px solid;
  border-radius: 20px 0 20px;
  justify-content: center;
  color: black;
  width:130px;
margin-bottom: 20px;
padding: 5px 0 5px 0;
background-color: antiquewhite;
font-size: $size-link;
}

.nav-aside ul {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-import{
  width: 30px;
  margin-top: 20px;
}

.content-import{
  display: flex;
  border: dotted black 2px;
  height: 200px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

article {
  background-color: rgb(248, 238, 231);
  border-radius: 10px;
  margin: auto;
}

#input-title{
  width: 300px;
  border-radius: 10px;
  border-color: #f5b992;
}
textarea{
  border-radius: 10px;
  border-color: #f5b992;
  width: 500px;
  height: 200px;
}

.content-title{
  padding: 40px;
}