{% extends '/bases/baseFo.html.twig' %}

{% block title %}Edition Mot de passe | Evlow Foodies{% endblock %}

{% block body %}
{% for message in app.flashes('edit-password') %}
<div class="alert-edit">
    {{ message }}
</div>
{% endfor %}
<article class="article-edit">
    <section class="section-edit">
        <p class="p-registration">Vous souhaitez modifier votre mot de passe ?</p>
        <p class="p-registration">Rien de plus facile !</p>
        <h3 class="home-h3 ">
            <span>Renseignez les champs ci-desous !</span>
        </h3>

        <section class="content-edit-user">
            <div class="form-edit-user">
                {{ form_start(PasswordForm) }}
                {{ form_widget(PasswordForm) }} 
                {{ form_end(PasswordForm) }}
            </div>
        </section>
</article>

{% endblock %}