{% extends '/bases/baseBo.html.twig' %}

{% block body %}
  
    <h2>Ajouter une recette </h2>

    <article>
        {{ form_start(formRecipe)}} 
        {{ form_widget(formRecipe)}}
        <input class = "btn btn-primary my-3" type="submit" value="Envoyer"/>

    {{ form_end(formRecipe)}}
    </article>    



{% endblock %}
