{% extends '/bases/baseBo.html.twig' %}


{% block body %}
<section class="content-card">
    {% for recipe in recipes %}
    <article class="card"> 
        <h3 class="recipes-h3">{{recipe.title}}</h3>
        <div class="content-recipe-img">
        <img class="recipe-img-home" src="{{vich_uploader_asset(recipe, 'imageFile')}}" alt="image">
    </div>
        <a class="btn-recipe" href="{{ path('app_fo_recipe_sheet', { id: recipe.id }) }}">Voir la recette</a>
    </article>
    {% endfor %}
</section>
{% endblock %}
