{% extends '/bases/baseBo.html.twig' %}
{% block title %} Evlow Foodies | Mes favoris{% endblock %} 
{% block body %}

<article class="add-recipes">
    <section class="edit-profil">
        <h3 class="h3-profil"> Mes favoris ({{ app.user.recipes|length }}) </h3>
       

        {% for recipe in app.user.recipes %}
        <div class="inline-product"></div>
            <div class="card">
                <h3 class="recipes-h3">{{recipe.title}}</h3>
                <div class="content-recipe-img">
                    <img class="recipe-img-home" src="{{vich_uploader_asset(recipe, 'imageFile')}}" alt="image">
                </div>
        </div>
        {% endfor %}

    </section>
    
        </article>
    
    {% endblock %}



    