<h1>Evlow Foodies | Confirmation email</h1>

<h2>Bonjour,</h2>
    <p>
        Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
        <a href="{{ signedUrl }}">Confirmer mon email</a>.
    <p> Attention ! Ce lien expirera dans 1 heure.</p>

    <h3>Evlow Foodies</h3>