{% extends '/bases/baseFo.html.twig' %}
{% block title %}
Contactez-moi | Evlow Foodies
{% endblock %}
{% block body %}
<main>
    <article class="article-registration">
        <section class="article-registration">
            <p class="p-registration">Partager tes recettes ?</p>
            <p class="p-registration">Retrouver tes recettes favories ?</p>
            <h3 class="home-h3 ">
                <span>Inscrits-toi !</span>
            </h3>
        </section>
    </article>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <div class="bloc-connect">
        <div class="form-connect">
            <div class="content-connect">
                {{ form(FormRegistration) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}