{% extends 'baseFo.html.twig' %}

{% block body %}
 <!--INTRODUCTION-->
 <div class="content-intro-savory">
     <div class="paragraphe-savory">
         <p>Les recettes salées</p>
     </div>
 </div>





 <div class="carts">
        <h2>Les recettes salées</h2>
        <section class="content-card">
            {% for recipe in recipes %}
            <article class="card"> 
                <img class="img-card" src="/asset/vegetables.jpg" alt="">
                <h3 class="recipes-h3">{{recipe.title}}</h3>
                <p>{{recipe.description}}</p>
                <p>{{recipe.createdAt|date('d/m/Y')}}</p>

                <button class="btn-article" type="button">Voir l'article</button>
            </article>
            {% endfor %}
        </section>
    
    </div>

{% endblock %}