<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Site de recettes réalisé avec Symfony." />
        <meta name="author" content="" />
        <title>{% block title %}Evlow Foodies{% endblock %}</title>
        <!-- Favicon-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{{ asset('assets/css/reset.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet">
      
       
           
    </head>
    <body>
    <!-- Header-->
    {% block header %}{% include 'includes/_headerFo.html.twig' %}{% endblock %}
    <!-- Header-->
    {% block body %}{% endblock %}
    <!-- Footer-->
    {% block footer %}{% include 'includes/_footerFo.html.twig' %}{% endblock %}
    <!-- Core theme JS-->
    {% block javascript %}{% endblock %}
    <script src="js/scripts.js"></script>
    </body>
</html>