<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Site de recettes réalisé avec Symfony." />
        <meta name="author" content="" />
        <title>{% block title %}Evlow Foodies{% endblock %}</title>
        <!-- Favicon-->
        <link href="{{ asset('assets/css/reset.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet">
        <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.css') }}" rel="stylesheet">
      
       
           
    </head>
    <body>
    <!-- Header-->
    {% block header %}{% include 'includes/_headerFo.html.twig' %}{% endblock %}
    <!-- Header-->
    {% block body %}{% endblock %}
    <!-- Footer-->
    {% block footer %}{% include 'includes/_footerFo.html.twig' %}{% endblock %}
    <!-- Core theme JS-->
    {% block javascript %}{% endblock %}
    <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.js') }}" rel="stylesheet">

    </body>
</html>