{% extends 'baseBo.html.twig' %}

{% block body %}
<main>     
    <h2>Ajouter une recette </h2>
<!-- début formulaire -->
<form method="post" name="Add_recette" enctype="multipart/form-data">
    <article>
        <section>
            <div class="content-title">
                <label class="title" for="title">Titre :</label>
                <input id="input-title" type="text" name="title" placeholder="Entrez le titre de la recette." required>
            </div> 
                {# <div class="content-import">
                        <input id="input-file" type="file" name="picture_recette" placeholder="Importez une image." required>
                        <img class="img-import" src="./assets/importer.svg" alt="icone importer" style="cursor:pointer" />
                    </div> #}
                </div>       
            <div>
                <label class="description" for="description">Description :</label>
                <textarea name="description" id="description" placeholder="Entrez une description."></textarea>
            </div>
            <div>
                <label class="ingredient" for="ingredients">Ingrédients :</label>
                <textarea name="ingredients" id="ingredients" placeholder="Entrez les ingredients de la recette." required></textarea>
            </div>
            <div>
                <label class="preparations" for="preparations">Préparations :</label>
                <textarea name="preparations" id="preparations" placeholder="Entrez les étapes de la préparation."></textarea>
            </div>
        </section>
    </article>
        <div>
            <input type="submit" value="Publier">
        </div>      

</form>
</main>




{% endblock %}
