{% extends 'baseBo.html.twig' %}

{% block body %}
<main>     
    <h2>Ajouter une recette </h2>
<!-- début formulaire -->

    <article>
        {{ form_start(formRecipe)}} 
        {{ form_widget(formRecipe)}}
        <input class = "btn btn-primary my-3" type="submit" value="Envoyer"/>

    {{ form_end(formRecipe)}}
    </article>    
</main>

{% endblock %}
