{% extends 'baseFo.html.twig' %}

{% block body %}
 <!--INTRODUCTION-->
 <div class="content-intro-gones">
     <div class="paragraphe-gones">
         <p>Les recettes P'tits Gônes</p>
     </div>
 </div>
{% endblock %}
